<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Programming Site</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=League+Gothic&family=Luxurious+Script&family=Smooch&display=swap"
    rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <style>
    body {
      font-family: 'Open Sans', sans-serif;
      font-family: 'Rokkitt', serif;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Main_app/problemlist">Problem List</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Main_app/submissionlist">Submissions</a>
          </li>
          {% if request.user.is_authenticated%}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Main_app/mysubmissions">My Submissions</a>
          </li>
          {% endif%}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Main_app/userlist">userlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin">admin</a>
          </li>
          {% if request.user.is_authenticated%}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Main_app/logout">logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Main_app/createproblem">createproblem</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Main_app/challenge">challenge</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Main_app/friends">friendslist</a>
          </li>
          {% else%}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Main_app/login">login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Main_app/register">register</a>
          </li>
          {%endif%}
        </ul>
        <span class="navbar-text">
          
          {%if user_context.is_authenticated%}
            <a href="/Main_app/user/{{user_context.user_info.pk}}">{{user_context.username}}</a>
          
          {% endif%}
        </span>
      </div>
    </div>
  </nav>
  {% block content %}{% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

</html>